*

!.linux/
!.linux/*

!.macos/
!.macos/*

!.emacs.d/
!.emacs.d/init.el
!.emacs.d/init.org
!.emacs.d/README.org

!.ssh/
!.ssh/config
!.ssh/kanak.pub

!.zshrc
!.gitconfig
!.pdbrc

!README.org

!.gitignore