[user]
	name = Connor Nelson
	email = Connor@ConnorNelson.com
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[pull]
	rebase = true
